.element__button-like_active {
  padding: 0;
  margin: 5px 5px 1px auto;
  background-image: url(../../../../images/like-active.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  width: 22px;
  height: 19px;
  cursor: pointer;
}

.element__button-like_active:hover {
  opacity: 0.6;
}
